@model MovieMania.Models.Serie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Series</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Serie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Serie title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerieTitle)
        </dd>

        <dt>
            Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerieDescription)
        </dd>

        <dt>
            Cover:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cover)
        </dd>

        <dt>
            Seasons:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonsNumber)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
