@model IEnumerable<MovieMania.Models.Plan>

@{
    ViewBag.Title = "Index";
}

<h2>Plans</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Plan:
        </th>
        <th>
            Price:
        </th>
        <th>
            Actions:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlanId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlanId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlanId })
            </td>
        </tr>
    }

</table>
